body {
  height: 100vh;
  width: 100vw;
  display: block;
  margin: 0;
  background-image: url("images/viking room.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  overflow: hidden;
  /* Resize the background image to cover the entire container */
}
.cant-see-me {
  display: none;
}

p {
  font-size: 45px; /* Adjust the value as needed */
}
/* build your layout */
.box {
  height: 100%;
  width: 25%;
}
.box2 {
  height: 96%;
  width: 20%;
}

.top-row {
  height: 20%;
  width: 100%;
  display: flex;
}
.middle-row {
  height: 70%;
  width: 100%;
}
.bottom-row {
  height: 10%;
  width: 100%;
  display: flex;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.half {
  height: 100%;
  width: 50%;
  display: block;
}
.color-1 {
  background-color: red;
  img: ;
}
.color-2 {
  background-color: darkred;
  img: ;
}
/* control your content */
.contain-image {
  max-height: 100%;
  max-width: 90%;
}
.center-content {
  justify-content: center;
  align-items: center;
  display: flex;
}
.center-bottom {
  justify-content: bottom;
  align-items: flex-end;
  display: flex;
}
.center-left {
  justify-content: left;
  align-items: center;
  display: flex;
}
.center-right {
  justify-content: right;
  align-items: center;
  display: block;
}
.clickable1 {
  filter: brightness(85%) drop-shadow(2px 8px 3px);
}
/* changes to the style when the user HOVERS */
.clickable1:hover {
  cursor: pointer;
  filter: brightness(100%) drop-shadow(2px 8px 3px);
  transform: scale(1.04);
}
/* changes to the style when the user CLICKS */
.clickable1:active {
  filter: drop-shadow(0px 0px 3px);
  transform: scale(0.98);
}
.bottom {
  height: 10%;
  width: 100%;
  display: flex;
}
.smol-box-orion {
  height: 50%;
  width: 6%;
}
.smol-box-orion2 {
  height: 50%;
  width: 20%;

  padding: 0.2px;
  display: flex;
}
.smol-box {
  height: 95%;
  width: 7%;
  border: 2px groove rgb(255, 255, 255);
  padding: 0.2px;
}

.smol-box1 {
  height: 50%;
  width: 13%;
}
.smol-box2 {
  height: 40%;
  width: 13%;
}

.modal2 {
  justify-content: center;
  align-items: center;
  display: flex;
}
.modal2 {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #1c1c1c;
  opacity: 0.95;
  transition: right 0.5s ease;
}

/* Don't cover the entire screen */
.modal-body2 {
  width: 80%;
  height: 70%;
  background-color: none;
  opacity: 1;
  margin: 0;
}
.modal3 {
  justify-content: center;
  align-items: center;
  display: flex;
}
.modal3 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #1c1c1c;
  opacity: 0.95;
  transition: right 0.5s ease;
}

/* Don't cover the entire screen */
.modal-body3 {
  width: 80%;
  height: 70%;
  background-color: black;
  opacity: 1;
  margin: 0;
  display: flex;
}
.modal4 {
  justify-content: center;
  align-items: center;
  display: flex;
}
.modal4 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #1c1c1c;
  opacity: 0.95;
  transition: right 0.5s ease;
}

/* Don't cover the entire screen */
.modal-body4 {
  display: flex;
  width: 80%;
  height: 80%;
  background-color: none;
  opacity: 1;
  margin: 0;
}

.modal4top {
  width: 100%;
  height: 80%;
}
.modal4bottom {
  width: 100%;
  height: 20%;
  display: flex;
}
.modal5 {
  justify-content: center;
  align-items: center;
  display: flex;
}
.modal5 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #1c1c1c;
  opacity: 0.95;
  transition: right 0.5s ease;
}

/* Don't cover the entire screen */
.modal-body5 {
  width: 80%;
  height: 70%;
  background-color: none;
  opacity: 1;
  margin: 0;
}

#SUBMIT {
  position: center;
  top: 30px;
  right: 10px;
  padding: 20px 20px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background: rgb(214, 148, 68);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  position: fixed;
  top: 1%;
  right: 1%;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* all 'input' elements */
input {
  font-size: 50px;
  font-family: "Courier New", monospace;
  padding: 9px 9px;
}
/* only the text 'input' elements */
input[type="text"] {
  color: black;
  border: none;
  width: 45%;
  margin: 2px;
}
.riddle-text {
  margin-top: 20px;
  width: 80%;
  text-align: center;
  font-family: "Courier New", monospace;
  color: silver;
  text-shadow: 0 0 10px white;
}
.note-text {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-family: "Courier New", monospace;
  color: white;
}
.hint-text {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-family: "Courier New", monospace;
  color: white;
}
.riddletop {
  width: 100%;
  height: 50%;
}
.riddlebottom {
  width: 100%;
  height: 50%;
} /* colors to see divs */
.black {
  background-color: #000000;
}
.pink {
  background-color: #eb5674;
}
.blue {
  background-color: #01acf1;
}
.red {
  background-color: #ed1b24;
}
.green {
  background-color: #32d666;
}
.yellow {
  background-color: #fbee40;
}
.orange {
  background-color: #fd5632;
}
.grey {
  background-color: #d3d3d3;
}
.dark-grey {
  background-color: #3a3b3c;
}
#note {
  position: fixed;
  top: 30px;
  right: 50px;
  padding: 20px 20px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background: rgb(214, 148, 68);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

#note.enabled {
  background: rgba(133, 31, 1, 0.74);
}
#game-area p {
  font-size: 45px;
}

#game-area input {
  font-size: 50px;
  font-family: "Courier New", monospace;
}

#game-area input[type="text"] {
  color: cyan;
  border: none;
  width: 45%;
  margin: 2px;
}
